*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none
}

header{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
nav ul{
    display: flex;
    gap: 50px;

}

main{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container{
    width: 80%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-left{
    width: 380px;
}

.main-left h1{
 font-size: 40px;
 font-family: sans-serif;
}

.main-left p{
  margin: 30px 0;
  color: #666666;
}

.main-right img{
    width: 350px;
    height: 400px;
}

.main-left-botton{
    display: flex;
    align-items: center;
    gap: 40px;

}

.main-left-botton button{
    padding: 10px 20px;
    color: white;
    background-color: black;
}

.main-left-botton a{
    color: black;
}

.logos{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.logos p{
    font-size: 20px;
    font-family: sans-serif;

}

.logos-logo{
    display: flex;
    gap: 120px;
}



.services{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.services-top{
    width: 500px;
    height: 100px;
    text-align: center;
}
.services-top h3{
    color: #FF5E69;
}

.services-top h2{
    font-size: 35px;
    margin: 20px 0;
     font-family: sans-serif;
}

.services-main{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: end;
    justify-content: space-around;
}

.services-card{
    width: 230px;
    height: auto;
    padding: 30px 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.services-card h3{
    font-size: 20px;
    font-family: sans-serif
}
.services-card p{
    color: #666666;
}
.services-card ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 18px;
}

.services-card ul li{
    list-style: square;
}
.services-section{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;

 
}

.services-subtitle{
     width: 1000px;
    height: 100px;
    margin-left: 200px;
   
}


.services-section p{
    color: #B16CEA;
}


.services-section{
    width: 100%;
    height: 60vh;
    padding: 60px 50px;
}


.service-cards {
    
    margin-left: 200px;
    height: 90px;
    display: flex;
    gap: 90px;
}
.services-div img {
    font-family: sans-serif;
    max-width: 300px;
    min-width: 300px;
    max-height: 200px;
    min-height: 200px;
   
}
.services-subtitle {
    display: flex;
    justify-content: space-between;
}
.services-subtitle button{
    margin-top: 30px;
    width: 140px;
    height: 40px;
    color: white;
    background-color: black;
}

.education{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.education-left{
    width: 580px;
   height: auto;
   padding: 20px 20px;
   display: flex;
   flex-direction: column;
   gap: 40px;
}
.education-right{
     width: 580px;
   height: auto;
   padding: 20px 20px;
   display: flex;
   flex-direction: column;
   gap: 40px; 
}

.education-texts{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.education-left > p, .education-right > p{
    font-size: 25px;
}

/* .div1{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div3 img{
     font-family: sans-serif;
    max-width: 200px;
    min-width: 200px;
} */